__pycache__/
*.pyc
.env
.venv/
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/
*.egg-info/
outputs/*
!outputs/.gitkeep
data/input/*
!data/input/.gitkeep
!data/input/scenarios/
data/input/scenarios/*
!data/input/scenarios/.gitkeep
.DS_Store
.mplconfig/
src/co_drive_time-master/
src/co_drive_time-master.zip
